
   
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@300;400;600&display=swap");
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  margin-top: 0rem;
  background-color: rgb(10, 8, 8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

footer a {
  color:goldenrod;
}



.layout {
  width: 65%;
  margin:auto;
  background-color: transparent;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.layout p {
  font-size: medium;
  margin-top: 5rem;
}

.landing-page {
  width: 90%;
  margin:auto;
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.landing-page-detail {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.button-auth {
  background-color: rgb(216, 128, 27);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 2.5rem;
  width: 30rem;
  border: 0px;
}

.button-auth:hover {
  background-color: rgb(6, 27, 44);
}


.candidate-pane {
  width: 15rem;
  padding: 1rem;
  min-height: 17.5rem;
  display: flex;
  margin-right: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  color: rgb(32, 28, 28);
  background-color: white;
  border: 0.125rem solid white;
  border-radius: 4px;
  box-shadow: drop-shadow(0 4px 3px rgba(0,0,0,.07)) drop-shadow(0 2px 2px rgba(0,0,0,.06));
}

.candidate-pane h2 {
  margin: 0;
  font-size: large;
  font-weight: 800;
}

.candidate-pane h3 {
  margin: 0;
  font-size: x-large;
  font-weight: 500;
}

.candidate-pane p {
  color: rgb(128, 128, 128);
  font-size: small;
}

.candidate-pane img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.candidate-pane button {
  background-color: rgb(216, 115, 20);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 2.5rem;
  width: 10rem;
  border: 0px;
  margin: auto
}

.candidate-pane button:hover {
  background-color: rgb(6, 27, 44);
}

.voting-bar {
  background-color: rgb(229, 241, 247);
  width: 80%;
  min-height: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 5px;
  color: midnightblue;
  box-shadow: drop-shadow(0 10px 10px rgba(15, 14, 14, 0.07))
}

.voting-bar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: x-large;
}

.voting-bar-header h2 {
  margin: 0;
}

.candidate-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.voting-page {
  width: 100%;
  text-align: center;
}

.voting-page p {
  font-size: large;
  margin: 0.5rem;
}

.voting-page h1 {
  font-size: xx-large;
  margin: 0;
}


.interest-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  min-height: 20rem;
  margin: auto;
}

.interest-form input {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  font-size: large;
}

.interest-form label {
  font-size: medium;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  
}

.interest-form button {
  background-color: black;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.nav-bar {
  background-color: midnightblue;
  color: white;
  width: 100%;
  position: static;
  padding: 5px 0;

}

.nav-bar-landing {
  background-color: transparent;
  color: black;
  width: 100%;
  position: static;
  padding: 5px 0;

}


.nav-bar-main {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.nav-bar-main .nab{
  color: rgb(20, 84, 221);
  text-decoration: none;
  font-size: 30px;
}
.nav-buttons {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.nav-buttons button {
  border-radius: 5px;
  border: 0;
  padding: 0.25rem 2.5rem;
  cursor: pointer;
}

.nav-select {
  background-color: cornsilk;
  color: black;

}

.nav-unselect {
  background-color: transparent;
  color: white;
}

.sign-out {
  background-color: rgb(243, 139, 20);
  color: white;
  font-size: 15px;
}

.sign-out:hover {
  font-size: 18px;
  padding: 0.25rem 2.25rem;
}

.admin-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.admin-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.admin-set-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 100vh;
  overflow-y: auto;
}

.admin-sidebar {
  height: 38vh;
  width: 15%;
  background-color: rgb(180, 178, 178);
  border-radius: 10px;

}

.admin-menu {
  display: flex;
  flex-direction: column;
  float: right;
  width: 95%;
  height: 40vh;
  background-color: transparent;
  margin: 1rem auto;
}

.admin-menu-item {
  color: white;
  font-size: medium;
  background-color: transparent;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  height: 5rem;
  width: 100%;
  cursor: pointer;
  
}

.item-select {
  color: black;
  background-color: lavender;
}

.admin-page button {
  width: 30%;
  height: 3rem;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(124, 124, 245);
  margin-top: 1rem;
}

.start-and-end-vote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 3rem;
}

.start-and-end-vote button {
  width: 35%;
  height: 3rem;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: rgb(124, 124, 245);
  margin-top: 0 ;

}

.start-and-end-vote button:hover {
  font-size: 16px;
}

.start-vote {
  background-color: rgb(45, 90, 45) !important;
}

.end-vote {
  background-color: rgba(241, 104, 104, 0.802) !important;
}

.start-and-end-vote input {
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  font-size: 15px;
  cursor: text;

}

.results-summary {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.results-summary-box {
  display: flex;
  width: 30%;
  aspect-ratio: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
  color: white;

}

.results-summary-box h3 {
  font-size: medium;
}

.results-summary-box h1 {
  font-size: large;
}

.side-button {
  float: left;
  background-color: transparent;
  cursor: pointer;
  color: rgb(1, 10, 4);
  text-decoration: underline;
  border: 0;
}

.account-type {
  width: 70%;
  height: 3.5rem;
  border-radius: 5px;
  border: 1px solid silver;
  margin-top: 2rem;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: midnightblue;
  width: 30rem;
  height: 50vh;
  border-radius: 20px;
  color: white;
}

.posts-view h3 {
  font-size: large;
  text-decoration: underline;
}

.post-list {
  width: 70%;
  padding: 0.5rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.post-list-item {
  border-bottom: 1px solid gray;
  height: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: medium;
}


